# Adjust and uncomment these values as needed

# CACN="Self-signed CA"
# CADAYS=11688
# CAPASS="password"
# CERTDAYS=5844
# CITY="City name"
# COMPANY="Company name"
# COUNTRY="US"
# STATE="State name"
# UNIT="Department"
